<div class="orders">
  <div>Замовлення: <button (click)="auth.logout()">Вийти</button>
	<div class="order" *ngFor="let o of orders">
		<ol>
			<li *ngFor="let i of o.items">
				{{ i.item.name }}, {{ i.item.price }} грн<span *ngIf="i.item.size">, {{ i.item.size }}</span>
				<div *ngIf="i.item.ingredients">
					Додаткові інгредієнти:
					<span *ngFor="let k of i.item.ingredients">{{ k.name }}/</span>
				</div>
			</li>
		</ol>
		<div>{{ o.totalPrice }} грн</div>
		<div>{{ o.date | date:'short'}}</div>
		<div>{{ o.user }}</div>
		<div>{{ o.phoneNumber }}</div>
		<div>{{ o.address }}</div>
		<div><input type="checkbox" [(ngModel)]="o.processed"></div>
			<div><button class="deletebtn" (click)="deleteOrder(o)"></button></div>
		</div>
</div>