.header{
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.head{
  border-bottom: 1px solid lightgray;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

ul{
  list-style-type: none;
}

.number{
  font: 18px arial;
}

.info{
  font: 16px arial;
  color: lightgray;
}

img{
  flex-basis: 60px;
  height: 90%;
  border-right: 1px solid lightgray;
  display: block;
}

.auth{
  border: 1px solid lightgray;
  border-radius: 15%;
  flex-basis: 50px;
  height: 90%;
  text-align: right;
  font-size: 50px;
  color: black;
}

.auth:hover{
  color: white;
  background-color: #e30613;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.links{
  display: flex;
}

.links > a{
  display: block;
  font: 16px arial;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 10px;
}

.links > a:hover{
  color: #e30613;
  text-decoration: underline;
}

.links > a:focus{
  color: #e30613;
}

nav .basket{
  flex-basis: 100px;
  height: 50%;
  border-radius: 10%;
  background-color: #e30613;
  color: white;
}




