<div class="header">
  <div class="head">
    <span class="pizzeria"><b>Pizzeria</b></span>
    <ul>
        <li class="number"><b>+38 (044) 000 00 00</b></li>
        <li class="info">Цілодобова доставка</li>
    </ul>
    <div class="auth"> &#10154;</div>
  </div>
  <nav>
    <div class="links">
      <a id="pizzalink" routerLink="pizza">Піца</a>
      <a routerLink="constructor">Конструктор піци</a>
      <a href="#">Снеки</a>
      <a href="#">Картопля</a>
      <a href="#">Напої</a>
      <a href="#">Соуси</a>
    </div>
    <div class="basket" routerLink="basket">{{ basket.getLength() }}</div>
  </nav>
</div>
<router-outlet></router-outlet>