<div class="header">
  <div class="head">
    <span class="pizzeria"><b>Pizzeria</b></span>
    <ul>
        <li class="number"><b>+38 (044) 000 00 00</b></li>
        <li class="info">Цілодобова доставка</li>
    </ul>
    <a routerLink="{{authLink}}" class="auth"> &#10154;</a>
  </div>
  <nav class="navbar navbar-expand-md navbar-inverse navbar-custom">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item"><a routerLink="pizza">Піца</a></li>
        <li class="nav-item"><a routerLink="constructor">Конструктор піци</a></li>
        <li class="nav-item"><a routerLink="snacks">Снеки</a></li>
        <li class="nav-item"><a routerLink="potato">Картопля</a></li>
        <li class="nav-item"><a routerLink="drinks">Напої</a></li>
        <li class="nav-item"><a routerLink="sauces">Соуси</a></li>
      </ul>
    </div>  
     <div class="basket" routerLink="basket"><b class="basketcount"> {{ basket.getLength() }} </b></div>
  </nav>
 
</div>

<router-outlet></router-outlet>