<div class="pizza" *ngFor="let p of pizza">
  <ul>
    <li><img class="pizzaimage" src="{{ p.image }}"/></li>
    <li>{{ p.name }}</li>
    <li>{{ p.info | slice:0:54}}...</li>
    <li>
      <button (click)="setSize(p, '22 cm')">22 cm</button>
      <button (click)="setSize(p, '30 cm')">30 cm</button>
      <button (click)="setSize(p, '36 cm')">36 cm</button>
    </li>
    <li>{{ p.price[p.defaultSize]}} грн</li>
    <li><a href="#" class="add" (click)="showIngredients(p)">+ Додати інгредієнти</a></li>
  </ul>
</div>
<ingredients id="ingr" [pizza]="showPizza"></ingredients>