.header{
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

img{
  width: 60px;
  height: 60px;
  border-right: 1px solid lightgray;
  margin-left: 5%;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #e30613;
  text-decoration: underline;
}

a:focus{
  color: #e30613;
}

nav{
  margin-left: 5%;
  margin-right: 5%;
  height: 50px;
}

nav a{
  display: inline-block;
  vertical-align: bottom;
  font: 16px arial;
  font-weight: bold;
  margin: 10px;
}

nav .basket{
  width: 100px;
  height: 50%;
  border-radius: 10%;
  text-decoration: none;
  float:right;
  background-color: #e30613;
  color: white;
}

.head{
  border-bottom: 1px solid lightgray;
  height: 60px;
}

table{
  margin-left: 35%;
  width: 15%;
  display: inline-block;
}

table .number{
  font: 18px arial;
}

table .info{
  font: 16px arial;
  color: lightgray;
}

.auth{
  border: 1px solid lightgray;
  border-radius: 15%;
  width: 50px;
  height: 50px;
  text-align: right;
  float:right;
  margin-right: 5%;
  font-size: 50px;
  color: black;
  text-decoration: none;
}

.auth:hover{
  color: white;
  background-color: #e30613;
}

