img{
  width: 250px;
  height: 200px;
}

ul{
  list-style-type: none;
  margin-left: 260px;
}

li{
}

.name{
  font: 18px arial;
}

.info{
  font: 14px arial;
  color: gray;
}

.basketitem{
  height: 200px;
}

.basketitem:nth-child(even){
  background-color: #edf5ef;
}