*{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.basketitem{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

img{
  width: 250px;
  height: 200px;
  display: block;
}

.pizzainfo{
  max-width: 50%;
}

ul{
  list-style-type: none;
}

.name{
  font: 18px arial;
}

.info{
  font: 14px arial;
  color: gray;
}

.deletebtn{
  border: none;
  background: url("https://w7.pngwing.com/pngs/144/746/png-transparent-computer-icons-rubbish-bins-waste-paper-baskets-recycling-bin-button-cdr-text-rectangle.png") 100% 100% no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  outline: none;
}

.deletebtn:hover{
  cursor: pointer;
  transform: translateY(-4px);
  transition: 300ms;
}

.addbtn{
  background-color: white;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.orderbtn{
  color: white;
  background-color: #e30613;
  border-radius: 10px;
  height: 40px;
  outline: none;
  border: none;
}

.totalprice{
  font-size: 22px;
}
