<div class="container1">
  <div class="basketitem" *ngFor="let i of basket.getItems()">
    <img src="{{ i.item.image }}">
    <ul class="pizzainfo">
      <li class="name"><b>{{ i.item.name }}</b></li>
      <li class="info">{{ i.item.info }}</li>
      <li *ngIf="i.item.ingredients.length > 0">Додаткові інгредієнти: <span *ngFor="let j of i.item.ingredients | slice:0:i.item.ingredients.length - 1"> {{ j.name }}, </span> {{ i.item.ingredients[i.item.ingredients.length - 1].name}}. </li>
    </ul>
    
    <div>
      <button class="addbtn" (click)="incrOrder(i, '+')">+</button>
      <b> {{ i.count }} </b>
      <button class="addbtn" (click)="incrOrder(i, '-')">-</button>
    </div>
    <div><b>{{ i.totalPrice }} грн</b></div>
    <div class="deletebtn" (click)="deleteOrder(i)"></div>
  </div>
  <div class="totalprice"><b>Сума замовлення: {{getTotalPrice()}} грн</b></div>
  <div><button class="orderbtn" (click)="showOrderForm()">Оформити замовлення</button></div>
</div>

<div id="order" on-click="hideOrderForm($event)">
  <div class="orderform">
    <form [formGroup]="myForm" (ngSubmit)="toOrder()">
      <div class="form-group">
        <label>Ім'я:</label>
        <input class="form-control" type="text" name="name" formControlName="name" [(ngModel)]="user"/>
        <div class="alert-danger" *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
          Вкажіть ім'я
        </div>
      </div>

      <div class="form-group">
        <label>Номер телефону:</label>
        <input class="form-control" type="text" name="phoneNumber" formControlName="phoneNumber" [(ngModel)]="phoneNumber"/>
        <div class="alert-danger" *ngIf="myForm.controls['phoneNumber'].invalid && myForm.controls['phoneNumber'].touched">
          Вкажіть правильний номер
        </div>
      </div>

      <div class="form-group move-down">
        <label for="Autocomplete">Generic Autocomplete</label>
        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1" name="address" formControlName="address" [(ngModel)]="address"/>
      </div>
      <button id="orderbtn" class="orderbtn" [disabled]="myForm.invalid">Оформити замовлення</button>
    </form>
  </div>
<div>