.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.basketitem{
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.basketitem:nth-child(even){
  background-color: #edf5ef;
}

img{
  width: 250px;
  height: 200px;
  display: block;
}

ul{
  list-style-type: none;
}

.name{
  font: 18px arial;
}

.info{
  font: 14px arial;
  color: gray;
}