<div *ngFor="let b of pizzaBase">
  <button (click)="addItem(b, '22 cm')">{{ b.name }} 22 cm</button>
  <button (click)="addItem(b, '30 cm')">{{ b.name }} 30 cm</button>
  <button (click)="addItem(b, '36 cm')">{{ b.name }} 36 cm</button>
</div>
<button id="addbutton" (click)="addToBasket()"> Add to basket</button> {{ pizza.price[pizza.defaultSize]}}
<div class="constructor">
<div class="ingr">
  <div class="ingrdients"  *ngFor="let i of ingredients">
      <img class="ingrimage" src="{{i.image}}"/>
        {{i.name}}
        <button (click)="addItem(i)">+</button>
        <button (click)="deleteItem(i)">-</button>
        {{ getCountOfItems(i) }}        
  </div>
</div>

  <div id="pizza" class="pizza">
    <img id="pizzaimage" class="pizzaimage" src="https://www.pizzaking.ua/upload/f81d1064-1337-4bbf-a894-909133be0aa2/constructor//d2e6e23d-49ef-4a74-a101-ac4100ab7c99.png">
  </div>
</div>


<div class="items" *ngFor="let i of pizza.ingredients">
  {{ i.name }}   {{ i.price }}
</div>
