<div *ngFor="let b of pizzaBase">
  <button class="basebtn" id="{{b.name}} 22 cm" (click)="addItem(b, '22 cm')">{{ b.name }} 22 cm</button>
  <button class="basebtn" id="{{b.name}} 30 cm" (click)="addItem(b, '30 cm')">{{ b.name }} 30 cm</button>
  <button class="basebtn" id="{{b.name}} 36 cm" (click)="addItem(b, '36 cm')">{{ b.name }} 36 cm</button>
</div>
<button id="addbutton" (click)="addToBasket()"> Add to basket</button> {{ pizza.price[pizza.defaultSize]}}
<div class="constructor">
<div class="ingr">
  <div class="ingredients">
      <table>
        <tr *ngFor="let i of ingredients">
          <td> 
            <img class="ingrimage" src="{{i.image}}"/>
            {{i.name}}
            <button class="addingrbtn" (click)="addToOrder(i)">+</button>
            <button class="addingrbtn" (click)="deleteFromOrder(i)">-</button>
            <b class="ingrprice">   {{ getCountOfItems(i) }} x {{i.price}}</b>
          </td>
        </tr>
      </table>
    </div>
</div>

  <div id="pizza" class="pizza">
    <img id="pizzaimage" class="pizzaimage" src="https://www.pizzaking.ua/upload/f81d1064-1337-4bbf-a894-909133be0aa2/constructor//d2e6e23d-49ef-4a74-a101-ac4100ab7c99.png">
  </div>
</div>


<div class="items" *ngFor="let i of pizza.ingredients">
  {{ i.name }}   {{ i.price }}
</div>
