.ingr{
  width: 50%;
  float: left;
  border: 1px solid lightgray;
  border-radius: 8px;
  overflow-y: scroll;
  height: 90%;
  left: 5px;
  position: absolute;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e30613;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94050e;
}


.constructor{
  width: 100%;
  height: 80%;
}

.pizzaimage{
  top: 50%;
  right: 12.5%;
  width: 450px;
  height: 500px;
  position: absolute;
  z-index: 0;
}

.ingrimage{
  width: 10%;
  height: 10%;
}

.addbtn{
  visibility: hidden;
  border-radius: 8px;
  border: 1px solid #e30613;
  color: #e30613;
  background-color: white;
  height: 32px;
  font-size: 24px;
  outline: none;
}

.addbtn:hover{
  background-color: #e30613;
  color: white;
}

.addbtn:active{
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.basebtn{
  width: 12%;
  height: 6%;
  border: 1px solid lightgray;
  border-radius: 8px;
  outline: none;
  background-color: white;
  margin: 0.5%;
}

.basebtnchecked{
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.ingrimage{
  width: 15%;
  height: 40%;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.ingrprice{
  color: #e30613;
}

td > *{
  vertical-align: middle;
}

.name, .price{
  font: 16px arial;
}

.addingrbtn{
  background-color: white;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.priceblock{
  text-align: center;
  font-size: 24px;
}

