.container1{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.ingr{
  height: 450px;
  min-width: 35%;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.ingr > ul{
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e30613;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94050e;
}

.constructor{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pizza{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.pizzaimage{
  width: 350px;
  height: 400px;
  display: block;
  order: 0;
  position: absolute;
  z-index: 0;
}

.ingrimage{
  width: 50px;
  height: 50px;
}

.addbtn{
  visibility: hidden;
  border-radius: 8px;
  border: 1px solid #e30613;
  color: #e30613;
  background-color: white;
  height: 32px;
  font-size: 24px;
  outline: none;
}

.addbtn:hover{
  background-color: #e30613;
  color: white;
}

.addbtn:active{
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.basebtn{
  width: 20%;
  height: 10%;
  border: 1px solid lightgray;
  border-radius: 8px;
  outline: none;
  background-color: white;
  margin: 0.5%;
}

.baseblock{
  align-self: center;
}

.basebtnchecked{
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.ingrimage{
  border: 1px solid lightgray;
  border-radius: 50%;
}

.ingrprice{
  color: #e30613;
}

ul{
  list-style-type: none;
}

.name, .price{
  font: 16px arial;
}

.addingrbtn{
  background-color: white;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.addingrbtn:hover{
  background-color: lightgray;
}

.priceblock{
  text-align: center;
  font-size: 24px;
}

