.ingr{
  width: 45%;
  float: left;
  border: 2px solid black;
  border-radius: 5%;
  overflow-y: scroll;
  height: 100%;
  left: 0;
  position: absolute;
}

.ingredients{
  overflow-y: scroll;
}

.pizza{
  width: 55%;
  height: 100%;
  float: right;
  right: 0;
}

.constructor{
  width: 100%;
  height: 80%;
}

.pizzaimage{
  width: 50%;
  height: 65%;
  text-align: right;
  position:absolute;
  z-index: 0;
}

.ingrimage{
  width: 10%;
  height: 10%;
}

.items{
  bottom: 0;
}