<div class="pizza" *ngFor="let p of pizza">
  <ul>
    <li><img class="pizzaimage" src="{{ p.image }}"/></li>
    <li class="name"><b>{{ p.name }}</b></li>
    <li class="info">{{ p.info | slice:0:54}}...</li>
    <li>
      <button id="{{p.name}} 22 cm" class="sizebtn" (click)="setSize(p, '22 cm')">22 cm</button>
      <button id="{{p.name}} 30 cm" class="sizebtn" (click)="setSize(p, '30 cm')">30 cm</button>
      <button id="{{p.name}} 36 cm" class="sizebtn" (click)="setSize(p, '36 cm')">36 cm</button>
    </li>
    <li class="price"><b>{{ p.price[p.defaultSize]}} грн</b></li>
    <li><button (click)="addPizzaToBasket()">Додати в корзину</button></li>
    <li><p class="add" (click)="showIngredients(p)">+ Додати інгредієнти</p></li>
  </ul>
</div>

<div id="ingr">
  <div class = "ingrblock">
    <div class="ingredients">
      <table>
        <tr *ngFor="let i of ingredients">
          <td> 
            <img class="ingrimage" src="{{i.image}}"/>
            {{i.name}}{{i.price}}
            <button (click)="addToOrder(i)">+</button>
            <button (click)="deleteFromOrder(i)">-</button>
            {{ getCountOfItems(i) }}
          </td>
        </tr>
      </table>
    </div>
  <div class="pizzaitem">
      <ul>
        <li>{{ showPizza.name }}</li>
        <li>{{ showPizza.info | slice:0:54}}...</li>
        <li><img class="pizzaimage" src="{{ showPizza.image }}"/></li>
        <li>
          <button (click)="setSize(showPizza, '22 cm')">22 cm</button>
          <button (click)="setSize(showPizza, '30 cm')">30 cm</button>
          <button (click)="setSize(showPizza, '36 cm')">36 cm</button>
        </li>
        <li>{{ order.totalPrice }} грн</li>
        <li><button (click)="addPizzaToBasket()">Додати в корзину</button></li>
      </ul>
  </div>
  </div>
<div>
