<div class="pizza" *ngFor="let p of pizza">
  <ul>
    <li><img class="pizzaimage" src="{{ p.image }}"/></li>
    <li class="name"><b>{{ p.name }}</b></li>
    <li class="info">{{ p.info | slice:0:54}}...</li>
    <li>
      <button id="{{p.name}} 22 cm" class="sizebtn" (click)="setSize(p, '22 cm')">22 cm</button>
      <button id="{{p.name}} 30 cm" class="sizebtn" (click)="setSize(p, '30 cm')">30 cm</button>
      <button id="{{p.name}} 36 cm" class="sizebtn" (click)="setSize(p, '36 cm')">36 cm</button>
    </li>
    <li class="price"><b>{{ p.price[p.defaultSize]}} грн</b>
      <button class="basketbtn" (click)="addPizzaToBasket()">В кошик</button>
    </li>
  </ul>
  <div class="add" (click)="showIngredients(p)"><b>+ Додати інгредієнти</b></div>
</div>

<div id="ingr" on-click="hideIngredients($event)">
  <div class = "ingrblock">
    <div class="ingredients">
      <table>
        <tr *ngFor="let i of ingredients">
          <td> 
            <img class="ingrimage" src="{{i.image}}"/>
            {{i.name}}
            <button class="addingrbtn" (click)="addToOrder(i)">+</button>
            <button class="addingrbtn" (click)="deleteFromOrder(i)">-</button>
            <b class="ingrprice">   {{ getCountOfItems(i) }} x {{i.price}}</b>
          </td>
        </tr>
      </table>
    </div>
  <div class="pizzaitem">
      <ul>
        <li class="name"><b>{{ showPizza.name }}</b></li>
        <li class="info">{{ showPizza.info }}</li>
        <li><img class="pizzaimage" src="{{ showPizza.image }}"/></li>
        <li>
          <button id="{{showPizza.name}} 22 cm" class="sizebtn" (click)="setSize(showPizza, '22 cm')">22 cm</button>
          <button id="{{showPizza.name}} 30 cm" class="sizebtn" (click)="setSize(showPizza, '30 cm')">30 cm</button>
          <button id="{{showPizza.name}} 36 cm" class="sizebtn" (click)="setSize(showPizza, '36 cm')">36 cm</button>
        </li>
        <li class="price">{{ order.totalPrice }} грн
          <div id="basketbtn" class="basketbtn" (click)="addPizzaToBasket()">В кошик</div>
        </li>
      </ul>
  </div>
  </div>
<div>
