<div class="container1">
  <div class="snacks" *ngFor="let s of snacks">
    <ul>
      <li><img class="snackimage" src="{{ s.image }}"/></li>
      <li class="name"><b>{{ s.name }}</b></li>
      <li>
        <button id="{{s.name}} 10 шт" class="sizebtn sizebtnchecked" (click)="setSize(s, '10 шт')">22c</button>
        <button id="{{s.name}} 20 шт" class="sizebtn" (click)="setSize(s, '20 шт')">30 cm</button>
      </li>
      <li class="price"><b>{{ s.price }} грн</b>
        <button class="basketbtn" (click)="addToBasket(s)">В кошик</button>
      </li>
    </ul>
  </div>
</div>